{% extends "base.html" %}

{% block page_content %}

<h1 class="mt-5 mb-2">视频匹配</h1>

<p class="pt-1 pb-1">一段视频与图片做匹配。目前已索引27段广告视频（
    <a href="{{ url_for('static', 'ad_list.txt')}}">列表</a>
    ）。上传照片，找到与之匹配的分众广告（精确到帧）。</p>


<form action="http://47.101.196.204:8080/process_video_match" method="POST" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td>
                点击下载已索引的视频列表。
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>上传图片</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn btn-primary btn-file">
                                        浏览...<input type="file" id="imgInp" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <img id='img-upload' class="img-responsive"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-success"/></td>
        </tr>
    </table>
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename = 'image_upload.js') }}"></script>
{% endblock scripts %}