{% extends "base.html" %}

{% block page_content %}
<table class="table">
    <tr>
        <th scope="col">图片1：</th>
        <th scope="col">图片2：</th>
    </tr>
    <tr>
        <td><img src="{{ url_for('static', filename = filename_1) }}" class="img-responsive"></td>
        <td><img src="{{ url_for('static', filename = filename_2) }}" class="img-responsive"></td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">比对结果</h5>
                    <p class="card-text">{{ result }}{{ prob }}{{ elapsed }}</p>
                    <p>注：可信度评分，用于说明这两张脸属于同一人的可能性为多大。</p>
                </div>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
