{% extends "base.html" %}

{% block page_content %}

<h1 class="mt-5 mb-2">Speech synthesis</h1>

<p class="pt-1 pb-1">Based on industry-leading deep neural network technology, it provides highly anthropomorphic, smooth and natural speech synthesis.</p>

<form action="http://47.101.196.204:8080/process_tts_en" method="POST" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td>
                <div class="container">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Input text here</label>
                            <textarea class="form-control" id="inpText" name="text" rows="7"></textarea>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-success"/></td>
        </tr>
    </table>
</form>

{% endblock %}

