{% extends "base.html" %}

{% block page_content %}

<h1>人脸</h1>

<ul>
    <li>检测并比较人脸</li>
    <li>基于相似度将图像组织成组</li>
    <li>识别图像中先前标记的人物</li>
    <li>在本地或在云中运行</li>
</ul>

<h2>人脸验证</h2>

<p>检查两张人脸属于同一人的可能性。API 将返回一个可信度评分，用于说明这两张脸属于同一人的可能性为多大。</p>

<form action="http://47.101.196.204:8080/uploader" method="POST" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <th scope="col">图片1：</th>
            <th scope="col">图片2：</th>
        </tr>
        <tr>
            <td>
                <!--<input type="file" name="file1" class="form-control-file"/>-->
                <div class="container">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Upload Image</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        Browse… <input type="file" id="imgInp">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <img id='img-upload'/>
                        </div>
                    </div>
                </div>
            </td>
            <td><input type="file" name="file2" class="form-control-file"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-primary"/></td>
        </tr>
    </table>
</form>

{% endblock %}