{% extends "base.html" %}

{% block title %} Twins Or Not {% endblock %}

{% block page_content %}

<form action="http://47.101.196.204:8080/uploader" method="POST" enctype="multipart/form-data">
    <h1>测试人脸相似度</h1>
    <font color="navy">本网站"阅后即毁"，不收集照片。</font>

    <table class="table">
        <tr>
            <th scope="col">图片1：</th>
            <th scope="col">图片2：</th>
        </tr>
        <tr>
            <td><input type="file" name="file1"/></td>
            <td><input type="file" name="file2"/></td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
            <td></td>
        </tr>
    </table>
</form>

{% endblock %}